#main{
	height:150px;
	width: 511px;
	overflow: scroll;
	outline: 2px solid gray;
	font-family: Arial;

}
#bt,#bt2{
	padding: 4px;
}
#bold{
	font-weight: bold;
}
#italic{
	font-style: italic;
}
#underline{
	text-decoration: underline;
}
#Ver{
	font-family: Verdana;
}
#Tim{
	font-family: Times;
}
#TimN{
	font-family: Times New Roman;
}
button{
	height: 20px;
	width: 27px;
}
img{
    height: 15px;
	width: 15px;
	margin: -2px;
} 
input{
	height: 20px;
	width: 27px;
}
#line{
	height: 20px;
	width: 103px;
}
#tab,#tab1,#href{
	width: 71px;
}
.onn{
	background: red;
}
#delete{
	width: 144px;
}